ghost/master/yaya_variable.cfg
ghost/master/profile/
ghost/master/ssp_shiori_log.txt
ghost/master/yaya_ssp_debug.log
ghost/master/var/

ghost/master/tama.exe
ghost/master/tama.txt
ghost/master/cmd_shiori_tester.exe
ghost/master/.memo/

ghost/master/yaya_debug.dic

shell/master/profile/
shell/master-s/profile/

shell/master-l/
shell/set-of-coats/

lazy_cats_blue_stone/profile/

.vscode/
taidanaSanoSan.code-workspace
